python-telegram-bot==20.3
requests
openai
moviepy
pytube
beautifulsoup4
pytesseract
opencv-python
aiohttp
feedparser
Pillow
yt-dlp
instaloader
tiktok-downloader
tweepy
facebook-scraper
python-dotenv
flask
langdetect
googletrans==4.0.0rc1
transformers
torch
textblob
scikit-learn
matplotlib
gtts
pydub
librosa
torchvision
diffusers
accelerate
speechrecognition
deepface
pandas
jinja2
whisper
elevenlabs
pexels_api
newsapi-python
psutil
